<template >
    <div class="subgrid">
        <div id="skills"><Skills v-if="this.skills" data-aos="zoom-in" class="observed" id="skills-design"/></div>
        <div id="interests"><Interests v-if="this.interests" data-aos="zoom-in" class="observed" id="interests-design" /></div>
        <div id="education"><Education v-if="this.education" data-aos="zoom-in" class="observed" id="education-design" /></div>
        <div id="projects"><Projects v-if="this.projects" data-aos="zoom-in" class="observed" id="projects-design" /></div>
        <div id="experiences"><Experiences v-if="this.experiences" data-aos="zoom-in" class="observed" id="experiences-design" /></div>
        <div id="languages"><Languages v-if="this.languages" data-aos="zoom-in" class="observed" id="languages-design" /></div>
    </div>
</template>

<script>
import Skills from "./slide_resume_components/Skills.vue"
import Education from "./slide_resume_components/Education.vue"
import Interests from "./slide_resume_components/Interests.vue"
import Projects from "./slide_resume_components/Projects.vue"
import Experiences from "./slide_resume_components/Experiences.vue"
import Languages from "./slide_resume_components/Languages.vue"
import ButtonExpand from "./slide_resume_components/ButtonExpand.vue"

export default {
    name: 'SlideResume',
    data() {
        return {
            skills: false,
            education: false,
            languages: false,
            interests: false,
            projects: false,
            experiences: false
        }
    },
    components: {
        Skills,
        Education,
        Interests,
        Projects,
        Experiences,
        Languages,
        ButtonExpand
    },
    methods: {
        handleEachCategory(category) {

            let target = document.getElementById(category);
            let observer;
            createObserver();
    
            function createObserver() {
                let options = {
                  root: null,
                  rootMargin: '0px',
                  threshold: 1.0
                }
                observer = new IntersectionObserver(handleIntersect, options);
                observer.observe(target)
            }
            function handleIntersect(entries, observer) {
                entries.forEach(entry => {
                    if (entry.intersectionRatio === 1) {
                        setAsVisible();
                    }
                });
            }
            const setAsVisible = () => {
                this[category] = true;
            }
        }
    },
    mounted() {       
        ["skills", "education", "languages", "interests", "projects", "experiences"].forEach(name => {
        this.handleEachCategory(name);
        });        
    }
}
</script>

<style scoped lang="scss">
    .subgrid {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 80vw;
    }
    #observed
    {
        overflow: hidden;
    }
    #skills
    {
        grid-area: 1 / 1 / 2 / 2;
    }
    #education 
    {
        grid-area: 2 / 2 / 3 / 2;
    }
    #interests 
    {
        grid-area: 3 / 1 / 3 / 2;
    }
    #projects 
    {
        grid-area: 1 / 2 / 2 / 2;
    }
    #experiences
    {
        grid-area: 2 / 1 / 3 / 2;
    }
    #languages
    {
        grid-area: 3 / 2 / 3 / 2;
    }
    #skills-design
    {
        grid-area: 1 / 1 / 2 / 2;
        background-color: mediumturquoise;
        position: relative;
        height: 100%;
        width: 100%;
    }
    #education-design
    {
        grid-area: 2 / 2 / 3 / 2;
        background-color: mediumorchid;
        position: relative;
        height: 100%;
        width: 100%;
    }
    #interests-design
    {
        grid-area: 3 / 1 / 3 / 2;
        background-color: greenyellow;
        position: relative;
        height: 100%;
        width: 100%;
    }
    #projects-design
    {
        grid-area: 1 / 2 / 2 / 2;
        background-color: mediumaquamarine;
        position: relative;
        height: 100%;
        width: 100%;
    }
    #experiences-design
    {
        grid-area: 2 / 1 / 3 / 2;
        background-color: mediumvioletred;
        position: relative;
        height: 100%;
        width: 100%;
    }
    #languages-design
    {
        grid-area: 3 / 2 / 3 / 2;
        background-color: mediumslateblue;
        position: relative;
        height: 100%;
        width: 100%;
    }
</style>