<template>
  <div class="grid">
    <About
      class="grid__about"
      v-bind:style="{ marginLeft: aboutPosition + '%' }"
    />
    <SlideResume
      ref="slideresume"
      class="grid__resume"
      v-bind:style="{ marginLeft: resumePosition + '%' }"
    ></SlideResume>
    <ContactMe
      class="grid__contact"
      v-bind:style="{ marginRight: contactPosition + '%' }"
    />
    <Mode
      class="grid__mode"
      v-bind:style="{ marginLeft: modePosition + '%' }"
    />
  </div>
</template>

<script>
import About from "../About.vue";
import SlideResume from "./SlideResume.vue";
import ContactMe from "../ContactMe.vue";
import Mode from "../Mode.vue";

export default {
  name: "SlidePage",
  data() {
    return {
      scroll: 0,
      windowSize: {
        height: window.innerHeight,
        width: window.innerWidth,
      },
    };
  },
  computed: {
    scrollPercent: function() {
      return (this.scroll / this.windowSize.height) * 100;
    },
    resumePosition: function() {
      return (
        100 -
        (this.scrollPercent > 27.5 ? 27.5 : this.scrollPercent) * (100 / 27.5)
      );
    },
    aboutPosition: function() {
      return (
        (this.scrollPercent > 22.5 ? 22.5 : this.scrollPercent) * (100 / 22.5)
      );
    },
    modePosition: function() {
      return (
        (100 - this.scrollPercent > 38 ? 38 : 100 - this.scrollPercent) *
        (100 / 38)
      );
    },
    contactPosition: function() {
      return (
        (100 - this.scrollPercent > 38 ? 38 : 100 - this.scrollPercent) *
        (100 / 38)
      );
    },
  },
  components: {
    About,
    SlideResume,
    ContactMe,
    Mode,
  },
  // watch: {

  // },
  beforeMount() {
    window.addEventListener("scroll", () => {
      this.scroll =
        document.body.scrollTop || document.documentElement.scrollTop;
      this.windowSize.height =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight;
      // console.log("scroll percent : " + this.scrollPercent);
      // console.log("resume position : " + this.resumePosition);
      // console.log("about position : " + this.aboutPosition);
      // console.log("contact position : " + this.contactPosition);
      // console.log("mode position : " + this.modePosition);
    });
    console.log(
      "width : " + this.windowSize.width + " height : " + this.windowSize.height
    );
    window.addEventListener("resize", () => {
      this.windowSize.width = window.innerWidth;
      this.windowSize.height = window.innerHeight;
      console.log(
        "width : " +
          this.windowSize.width +
          " height : " +
          this.windowSize.height
      );
    });
  },
  beforeDestroy() {
    window.removeEventListener("scroll");
    window.removeEventListener("resize");
  },
  // mounted() {

  // }
};
</script>

<style scoped lang="scss">
.grid {
  display: grid;
  height: 200vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  background-color: grey;
}
.grid__about {
  grid-area: 1 / 1 / 2 / 6;
  overflow: scroll;
  z-index: 3;
  background-color: green;
}
.grid__resume {
  grid-area: 2 / 2 / 7 / 6;
  overflow: scroll;
  z-index: 3;
  background-color: pink;
}
.grid__contact {
  grid-area: 7 / 1 / 9 / 3;
  overflow: scroll;
  z-index: 3;
  background-color: blue;
}
.grid__mode {
  grid-area: 7 / 3 / 9 / 6;
  overflow: scroll;
  z-index: 3;
  background-color: yellow;
}
</style>
