<template>
    <div data-aos="zoom-in" class="box" v-on:mouseover="setHover(hoverNum)" v-on:mouseleave="resetHover(hoverNum)">
        {{ this.page }}
    </div>
</template>

<script>
    export default {
        name: 'DraggableBox',
        props: {
            page: {
                type: String,
                required: true
            },
            numBox: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                hoverNum: {
                    hover: false,
                    num: this.numBox
                },
                pageName: this.page
            }
        },
        methods: {
            setHover(hoverNum) {
                this.hoverNum.hover = true;
                this.hoverNum.num = this.numBox;
                this.$emit('box-hovered', hoverNum);
            },
            resetHover(hoverNum) {
                this.hoverNum.hover = false;
                this.hoverNum.num = 0;
                this.$emit('box-hovered', hoverNum);
            }
        }
    }
</script>

<style scoped lang="scss">
    .box {
        &:hover {
            z-index: 3;
            position: relative;
            background-color: grey;
        }
    }
</style>