<template>
        <div class="parent">
            <DraggableBox v-on:box-hovered="sendHoverData" v-bind:numBox=1 page= "Home" class="one rules"/>
            <DraggableBox v-on:box-hovered="sendHoverData" v-bind:numBox=2 page= "Works" class="two rules"/>
            <DraggableBox v-on:box-hovered="sendHoverData" v-bind:numBox=3 page= "About" class="three rules"/>
            <DraggableBox v-on:box-hovered="sendHoverData" v-bind:numBox=4 page= "Contact" class="four rules"/>
        </div> 
</template>

<script>
  import DraggableBox from "./DraggableBox.vue"
  
  export default {
      name: 'GridDisplay',
      data() {
          return {
              hoverNum: {
                  hover: false,
                  num: 0
              }
          }
      },
      components: {
          DraggableBox
      },
      methods: {
          sendHoverData(e) {
              this.hoverNum = e;
              this.$emit('hover-data', this.hoverNum)
          }
      }
  }
</script>

<style scoped lang="scss">
  .parent { 
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
//   z-index: 1;
  }

  .one {
    grid-area: 1 / 1 / 3 / 3;
    background-color: green;
  }

  .two {
    grid-area: 1 / 4 / 3 / 6;
    background-color: blue;
  }

  .three {
    grid-area: 4 / 1 / 6 / 3;
    background-color: yellow;
  }

  .four {
    grid-area: 4 / 4 / 6 / 6;
    background-color: purple;
  }

  .rules {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .hovered {
      z-index: 3;
      position: relative;
      background-color: grey;
  }

  body {
    position: relative;
  }
</style>