<template>
    <div class="head">
        <img v-show="openMouth === true" class= "fit-picture" alt="la patate bouche ouverte" src="../../assets/patopen.png">
        <img v-show="openMouth === false" class= "fit-picture" alt="la patate bouche fermee" src="../../assets/patclose.png">
    </div> 
</template>

<script>
    export default {
        name: 'MyHead',
        props: {
            openMouth: {
                type: Boolean,
                required: true
            }
        }
    }
</script>

<style scoped lang="scss">
    .head {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -77px;
    }
    .fit-picture {
        width: 154px;
        height: 154px;
        
    }
    body {
        position: relative;
    }
</style>