<template>
  <div>
    <ContactMe mail="yanis.boulemia@gmail.com" phoneNumber="0666938460" />
  </div>
</template>

<script>
import ContactMe from '@/components/ContactMe.vue'

export default {
    name: 'Contact',
    components: {
        ContactMe
    }
}
</script>

<!-- <style scoped lang="scss">
  .contact {
    &--slide {

    },
    &--hungry {

    }
  }
</style>
--!>