<template>
  <div>
    <GridDisplay v-on:hover-data="setHover" />
    <MyHead v-bind:openMouth="this.hoverData.hover"/>
  </div>
</template>

<script>
import GridDisplay from '@/components/hungry_components/GridDisplay.vue'
import MyHead from '@/components/hungry_components/MyHead.vue'

export default {
  name: 'Hungry',
  data() {
    return {
      hoverData: {
        hover: false,
        num: 0
      }
    }
  },
  components: {
    GridDisplay,
    MyHead
  },
  methods: {
    setHover(e) {
      this.hoverData = e;
    }
  }
}
</script>

