<template>
    <div>
        <SlidePage />
    </div>
</template>

<script>
import SlidePage from "../components/slide_components/SlidePage.vue"

export default {
    name: 'Slide',
    components: {
        SlidePage
    }
}
</script>