<template>
  <div class="about">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non erat sem.
    Mauris pharetra placerat magna sed tincidunt. Etiam vulputate porta
    convallis. Duis scelerisque, nulla vitae condimentum interdum, justo mi
    semper sem, quis bibendum lectus orci vitae lorem. Suspendisse lobortis at
    nisi eu tincidunt. Sed feugiat laoreet dui, vitae semper purus pulvinar sit
    amet. Vestibulum sit amet metus lacinia, rhoncus purus quis, feugiat ex.
    Nulla sapien tellus, interdum eu lobortis eget, venenatis eget libero.
  </div>
</template>

<script>
export default {
  name: "About",
};
</script>

<style scoped lang="scss">
.about {
  width: 100vw;
  font-family: "Verdana";
  font-size: 18px;
  justify-content: center;
}
</style>
