<template>
  <div>
    <ul>
      <li>{{ "email : yanis.boulemia@gmail.com" }}</li>
      <li>{{ "phone number : 0666938460" }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ContactMe",
};
</script>

<style scoped lang="scss">
ul {
  color: #42b983;
}
a {
  color: #42b983;
}
</style>
