<template>
    <div>
        <ul>
            <li>hungry</li>
            <li>lol</li>
            <li>basic</li>
            <li>dancing</li>
            <li>hungry</li>
            <li>lol</li>
            <li>basic</li>
            <li>dancing</li>
            <li>hungry</li>
            <li>lol</li>
            <li>basic</li>
            <li>dancing</li>
            <li>hungry</li>
            <li>lol</li>
            <li>basic</li>
            <li>dancing</li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "Mode"
}
</script>

<style scoped lang="scss">
</style>