<template>
    <div class="resume">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non erat sem. Mauris pharetra placerat magna sed tincidunt. Etiam vulputate porta convallis. Duis scelerisque, nulla vitae condimentum interdum, justo mi semper sem, quis bibendum lectus orci vitae lorem. Suspendisse lobortis at nisi eu tincidunt. Sed feugiat laoreet dui, vitae semper purus pulvinar sit amet. Vestibulum sit amet metus lacinia, rhoncus purus quis, feugiat ex. Nulla sapien tellus, interdum eu lobortis eget, venenatis eget libero.

Aliquam gravida blandit euismod. Sed molestie mauris a imperdiet blandit. Vestibulum vel tincidunt turpis. Vestibulum neque ex, eleifend eget tempus in, fermentum ut sapien. Vivamus molestie dapibus sem, id faucibus ligula finibus sed. Aliquam erat volutpat. Mauris vulputate tincidunt venenatis. Fusce ut turpis vel dui gravida imperdiet et sit amet mi. Mauris sollicitudin ipsum at tortor accumsan, vitae sodales magna suscipit. Curabitur ut finibus erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam elementum odio sed eros pretium euismod.

Duis scelerisque a ligula sit amet gravida. Duis lacinia nec urna eget imperdiet. Suspendisse a orci venenatis, iaculis ipsum quis, aliquam sem. Cras sit amet sodales mi, sed mattis nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc hendrerit vel nibh ut auctor. Donec at sapien tempus, lobortis justo viverra, bibendum leo. Nam in risus ullamcorper libero aliquam convallis ac eget risus. Curabitur tristique, massa id vulputate mollis, nulla velit convallis enim, lobortis viverra velit ipsum cursus sem. Integer maximus pellentesque condimentum. Sed vel elementum metus. Pellentesque a lorem commodo, imperdiet eros et, condimentum turpis. Suspendisse sit amet diam sit amet enim ultricies pharetra. Cras sollicitudin venenatis lectus et interdum.

Aliquam quis ullamcorper arcu. Aliquam porta lacus eu elit vulputate consequat. Duis in imperdiet justo. Curabitur ac nulla id neque tincidunt convallis varius non nunc. Nunc semper ipsum id lectus tempor, vel varius quam scelerisque. Morbi scelerisque posuere lectus vitae condimentum. Aliquam quis pellentesque erat. Phasellus mollis tincidunt nibh, at porttitor nulla vestibulum ac. Donec tempor consequat mauris, sed dignissim diam finibus eu. Phasellus ut nulla non dui mollis mattis pretium vel libero. Sed non elit ex. Nam commodo felis malesuada mi venenatis gravida. Vestibulum venenatis orci ut diam vestibulum, et feugiat ipsum consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Praesent viverra erat sed dolor ultrices, at eleifend sapien tempor. Vestibulum eget magna at est elementum imperdiet. Nulla in iaculis libero, ut gravida eros. Nulla facilisi. Curabitur egestas, lacus nec faucibus congue, tortor lacus euismod libero, non convallis lectus lacus et diam. Nunc eget efficitur odio. Morbi pulvinar, elit nec sollicitudin sagittis, nisl enim finibus arcu, ut hendrerit est nisi quis libero.
    </div>
</template>

<script>
export default {
    name: "Resume"
}
</script>

<style scoped lang="scss">
.resume {
    width: 100%;
}
</style>