<template>
   <div class="button"></div> 
</template>

<script>
export default {
    name: 'ButtonExpand'
}
</script>

<style scope lang="scss">
    .button
    {
        position: absolute;
        background-color: black;
        bottom: 0;
        z-index: 4;
        height: 10%;
        width: 10%;
        right: 0;
    }
    .right
    {
        right: 0;
    }
    .left
    {
        left: 0;
    }
</style>