<template>
    <div>
        <p>Education</p>
        <ButtonExpand />
    </div>
</template>

<script>
import ButtonExpand from "./ButtonExpand.vue"

export default {
    name: 'Education',
    components: {
        ButtonExpand
    }
}
</script>

<style scope lang="scss">
    .box
    {
        position: relative;
    }
</style>