<template>
  <div>
    <p>Languages</p>
    <ButtonExpand />
    <div class="doughnut">
      <doughnut-chart></doughnut-chart>
    </div>
  </div>
</template>

<script>
import ButtonExpand from "./ButtonExpand.vue";
import DoughnutChart from "./PieChart.vue";

export default {
  name: "Languages",
  components: {
    ButtonExpand,
    DoughnutChart,
  },
};
</script>

<style scope lang="scss">
.box {
  position: relative;
}
.doughnut {
  z-index: 10;
}
</style>
