<template>
    <div class="box">
        <p>Skills</p>
        <ButtonExpand class="button" />
        <PieChart />
    </div>
</template>

<script>
import PieChart from "./PieChart.vue"
import ButtonExpand from "./ButtonExpand.vue"

export default {
    name: 'Skills',
    components: {
        PieChart,
        ButtonExpand
    }
}
</script>

<style scope lang="scss">
    .box
    {
        position: relative;
    }
</style>